.container {
  width: 100%;
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 200px;
  /* background-color: lightblue; */
  color: black;
}

